/*Night mode toggle*/
.dark-mode{
  background-color: rgb(52, 52, 52);
  color: rgb(255, 255, 255);
}

/*Toggle Button*/
.toggle-button{
  
  position: sticky;
  top: 20px;
  right: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
}


/*Navbar*/
#navbar{
    position: sticky;
}

/*button*/
.button{
    border-radius: .1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: .1s;
    cursor: pointer;
}

/*Body*/
.fakeimg {
    height: 165px;
    border-radius: 100px;
    border: 5px solid black;
    
  }

/*Fonts*/
.navbar-brand{
  font-family: "Oswald", sans-serif; 
}
.container{
  font-family: "Oswald", sans-serif; 
  font-weight: 200px;
}

.nav, .nav-item{
  font-family: "Roboto", sans-serif;
  font-weight: 300px;
  color: black;
  
}

/*Publication containers*/
.card{
    border-radius: 25px;
    border: 5px solid white;
    padding: 20px;
    width: 1000px;
    height: 150px;
}

/*Timeline and Latest*/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: black;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid ;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*Hoveable cards For publication and latest news*/
.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #000000, #000000);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

